body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: #fff;
    background-image: url('imgs/background.jpg');
    background-size: cover;
    background-size: 100% 100%;
    text-align: justify;
    padding: 20px;
}

.profile-image {
    width: 200px;
    border-radius: 50%;
    margin-top: 10px;
}

.conference{
    display: flex;
    align-items: center;    
}

.conference img{
    height: 50%;
    width: 50%;
    margin-right: 40px;
}

.tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tab {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    color: #fff;
}

.tab:hover {
    background-color: #555;
}

.tab.active {
    background-color: #555;
}

.tab-bar {
    background-color: #333;
    padding: 10px;
    text-align: left;	
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #eee;
    margin-top: -1px; /* to align with the tab bar */
    text-align: justify; /* Left-align the content within tabs */
    width: 50%; /* Set the width of the content container to 50% */
    padding: 50px 50px;
    margin: 0 auto; /* Center the content container horizontally */
    margin-bottom: 100px; /* Add margin at the bottom to prevent collision with the footer */
}


.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.footer p {
    margin: 2px 0;
}

/* LinkedIn icon styling */
.fa-linkedin {
    color: #0077B5; /* LinkedIn blue color */
    font-size: 24px;
    margin-left: 5px;
}


.fa-linkedin:hover {
    color: #004182; /* Change to the desired hover color */
}

.news {
    margin-top: 10px;
}