<article class="blog-card">
  <div class="blog-card__meta">
    <span>{{ site.author.name }}</span>
    <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%d %B %Y' }}</time>
  </div>
  <h2 class="blog-card__title"><a href="{{ base_path }}{{ post.url }}">{{ post.title | escape }}</a></h2>
  {% if post.excerpt %}<p class="blog-card__summary">{{ post.excerpt | strip_html }}</p>{% endif %}
  <a class="blog-card__link" href="{{ base_path }}{{ post.url }}" aria-label="Read {{ post.title | escape }}">Read post <span aria-hidden="true">&rarr;</span></a>
</article>
